body{
    background-image: url("bg.webp");
    background-size: cover;
    backdrop-filter: blur(4px)
}
.head1{
    color: rgb(245,230, 220);
    font-size: x-large;
    font-weight: 600;
    font-size:xx-large
    margin: 10px;
    display: flex;
    justify-content:center;
    margin: 10px 10px 10px 10px
}
h2{
    color:rgb(48, 9, 75);

}
h3{
    color:rgb(51, 7, 109);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
p {
   color:rgb(219, 0, 0);
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.ol1{
  color:rgb(7, 8, 73);
  border-color; b


}
@keyframes MoveUpDown{
    0%{
tansform: scale(100%);
transform: rotate(20deg);
    }
50%{
        translate: scale(200%)
        transform
    }
    100%(
     transform: 
    )
    .class h1{
        animation: MoveUpDown 5s;
    }
